:root {
    --orange: #ec5d31;
    --purple: #5e3388;
    --font-1: 'Acme';
    --font-2: 'Roboto';
    --font-nav: 'Open Sans';
}

/*Body*/
* {
    font-family: 'Roboto', sans-serif;
}

main {
    margin-top: 120px;
    min-height: calc(100vh - 86px - 201.8px - 120px);
    /*100vh - header - footer - body margin-top*/
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Acme', sans-serif;
}

.helloUser {
    padding-left: 3rem;
}

hr {
    background: rgba(94, 51, 136, 0.3);
}

.hrBottom {
    margin-top: 4rem;
}

/*Card*/
.pcard {
    height: 90px;
}

.col-sm-12 {
    padding: 0;
}

.containerStyle {

    padding: 0;
    border: 1px solid var(--purple);
    border-radius: 5px;
}

.containerTitleStyle {
    width: 80%;
    padding: 0;
}

.title {
    padding-left: 0;
}

.card-header {
    background: lightgrey;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.btn {
    background: var(--purple);
    border: none;
    margin-left: auto;
}

.btn:hover {
    background: var(--orange);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.9);
    margin-right: 5px;
    animation: toRight 0.5s;
}

.containerStyle {
    position: relative;
    width: 80%;
    background: white;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0;
    color: rgba(0, 0, 0, .8);
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
    margin: 15px auto;
}

.containerStyle:before,
.containerStyle:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    transform: rotate(-2deg);
}

.containerStyle:after {
    transform: rotate(2deg);
    right: 10px;
    left: auto;
}

@keyframes toRight {

    from {
        margin-right: 0;
    }

    to {
        margin-right: 5px;
    }
}

.regMessage {
    text-align: center;
    color: red;
}