:root {
    --orange: #ec5d31;
    --purple: #5e3388;
/*    --grey: #ccc; */
    --grey: #c4c4c4;
    --active: #82D485;
    --danger: #DC3545;
    --font-1: 'Acme';
    --font-2: 'Roboto';
    --font-nav: 'Open Sans';
}

/*Body*/
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {  
  * {
  	font-size:0.8rem;
  } 
}

textarea {
    resize: none;
}

main {
    margin-top: 120px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Acme', sans-serif;
}

p, label, ul {
	font-size: 1.2rem;
}


.helloUser {
    padding-left: 3rem;
}

hr {
    background: rgba(94, 51, 136, 0.3);
}

.hrBottom {
    margin-top: 4rem;
}

/*Card*/
.pcard {
    height: 90px;
}

.containerStyle {
    padding: 0;
    border: 1px solid var(--purple);
    border-radius: 5px;
}

.containerTitleStyle {
    width: 80%;
    padding: 0;
}

.title {
    padding-left: 0;
}

.card-header {
    background: lightgrey;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.btn {
	margin-top: 1rem;
    background: var(--purple);
    border: none;
    margin-left: auto;
}

.btn:hover {
    background: var(--orange);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.9);
    margin-right: 5px;
    animation: toRight 0.5s;
}

.containerStyle {
    position: relative;
    width: 80%;
    background: white;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0;
    color: rgba(0, 0, 0, .8);
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
    margin: 15px auto;
}

.containerStyle:before,
.containerStyle:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    transform: rotate(-2deg);
}

.containerStyle:after {
    transform: rotate(2deg);
    right: 10px;
    left: auto;
}

@keyframes toRight {

    from {
        margin-right: 0;
    }

    to {
        margin-right: 5px;
    }
}

.regMessage {
    text-align: center;
    color: red;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    font-size: 1rem;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--danger);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.subscribeForm {
	font-size: 1.5rem!important;
}

input:checked + .slider {
    background-color: var(--active);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--active);
}

input:checked + .slider:before {
    -webkit-transform: translateX(39px);
    -ms-transform: translateX(39px);
    transform: translateX(39px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 5px;   
}

.slider.round:before {
    border-radius:3px;    
}

.switch_on, .switch_off {
    position: absolute;
    bottom: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.switch_on {
    left: 5px;
    display: none;
}

.switch_off {
    right: 5px;
}

input:checked ~ .switch_off {
    display: none;
}

input:checked ~ .switch_on {
    display: block;
}


/*Icone quit*/
.quitIcon {
    height: 30px;
}

.quitIcon a {
    cursor: pointer;
}

.quitIcon svg {
    height: 100%;
    width: auto;
    fill: var(--grey);
}

.quitIcon svg:hover {
    fill:var(--danger);
}

.badge {
	color: white;
	font-size: 1.2rem;
	height: 2.5rem;
	font-weight: lighter;
	margin-left: 1rem;
    fill: var(--danger);
    width: 7rem;
}

.non_highlighted
{
 -moz-user-select: none; /* Firefox */
 -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
 -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
 user-select: none; /* Propriété standard */
}

/* ------------------------ homeEditor ----------------------- */

.registration_cost {
	font-size: 1.2rem!important;
}

.badgeDetails {
	width: 3.2rem;
}

.subscribeModifBtn {
	height: 3rem;
	font-size: 1.4rem;
}

.stateBadge {
	font-size: 1.2rem;
}

.eventSubscribeMsg {
	color: var(--purple);
}

.border {
	border: 1px solid var(--grey)!important;
}