.card-body-custom{
	padding:0;
	text-align:center;
}

.card-custom{
	padding:0;
}

.card-text-custom{
	margin-top:0.5rem;
	margin-bottom:0;	
}

.img-container{
	position:relative;
}

.positionButton{
	position: absolute;
  	top: 50%;
  	left:50%;
  	transform: translate(-50%, -50%);
  	width:100%;
}
.messageDelete, .messageEdit{
	visibility:hidden;
}

.messageEdit *, .messageDelete *{
	font-weight:bold;
	background-color: white;
	padding:0.5rem;
	border-radius:5px;
}

.messageEdit *{
	color:#f57900;
}

.messageDelete *{
	color:#cc0000;
}
.card-custom:hover .card-img-top:not(:last-child){
	transition: all 0.5s ease;
	filter: grayscale(100%);
}
.card-custom:hover .messageEdit{
	visibility: visible;
}

.card-custom:hover .messageDelete{
	visibility: visible;
}

.buttonP{
	margin:0;
}

.card-img-custom{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    position:center;
}

.card-custom{
	border-color: #5c3566;
}

.card-custom svg{
	fill:orange;
}

.deleteUpdateSVG{
	width:30%;
}

.deleteUpdateSVG:first-child{
	fill:red;
}

.previewImg{
	width:100%;
}