.card-body-custom{
	padding:0;
	text-align:center;
}

.card-custom{
	padding:0;
}

.card-text-custom{
	margin-top:0.5rem;
	margin-bottom:0;	
}

.buttonP{
	margin:0;
}

.card-img-custom{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    position:center;
    cursor:pointer;
}

.card-custom{
	border-color: #5c3566;
}

.card-img-custom{
	fill:orange;
}

.deleteUpdateSVG{
	width:7vh;
	cursor:pointer;
}

.deleteSVG{

	fill:gray;
}

.deleteUpdateSVG{

	fill:gray;
}

.deleteSVG:first-child:hover{

	fill:red;
}

.deleteUpdateSVG:last-child:hover{
	fill:orange;
}

.previewImg{
	width:100%;
}

.svgAddAgent{
	fill:orange;
	width:5%;
	cursor:pointer;
}


.deleteButton{
	background: none;
    border: none;
    padding: 0;

}

.btn {
	margin-top: 0;
	font-size: 1.2rem;
    margin-left: 0!important; 
}

.btn-update {
    align-self: center;
}

.svgActionAgent{
	fill:orange;
	width:25%;
	cursor:pointer;
}
