<footer class="footerBackground" th:fragment="bottom">
	<div class="mt-5 pt-5 pb-5 footer">
		<div class="container footerContainer text-center text-lg-left">
			<div class="row pt-2 pt-sm-3">
				<div class="col-lg-3 col-xs-12 mx-auto about-company ">
					<h4>Orléans Joue</h4>
					<p class="text-white-50">Association loi 1901</p>
					<p class="text-white-50"><a class="mailto" href="https://orleans-joue.fr" target="_blank">Site
							officiel Orléans Joue</a></p>
				</div>
				<div class="col-lg-3 col-xs-12 mx-auto links">
					<h4 class="mt-lg-0 mt-sm-3">Liens</h4>
					<ul class="m-0 p-0 mb-3">
						<li>- <a href="#">Lorem ipsum</a></li>
						<li>- <a href="#">Nam mauris velit</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-xs-12 mx-auto location">
					<h4 class="mt-lg-0 mt-sm-4">Adresse</h4>
					<p>45000 Orléans</p>
					<a href="tel:+33600000000" class="mb-0 tel"><i class="fa fa-phone mr-3"></i>+33600000000</a>
					<p><i class="fa fa-envelope-o mr-3"></i><a class="mailto"
							href="mailto:contact@orleans-joue.fr">contact@orleans-joue.fr</a></p>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col copyright">
					<p class="pied"><small class="text-white-50">Copyright © 2019 Orléans Joue. Tous droits
							réservés.</small></p>
				</div>
			</div>
		</div>
	</div>
</footer>