<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Acme|Roboto&display=swap" rel="stylesheet">
	    <link rel="stylesheet" href="../CSS/style.css">
	    <link rel="stylesheet" href="../CSS/footer.css">
	    <link rel="stylesheet" href="../CSS/navBar.css">
	    <link rel="stylesheet" href="../CSS/toast.css">
	    <title>accueil exposant</title>  
	    <script>
	    	var hasSubscribe = "[[${hasSubscribe}]]";
		</script>
	</head>
	<body>
	    <header th:replace="navBar.html :: top"></header>
	    <main>	
	        <h1 class="helloUser" th:text="|Bonjour ${connectedUser.firstname} ${connectedUser.lastname}|"></h1>
	        <section class="fluid-container" id="evenement">
		        <div class="container">
		 	        <div class="row">
				  		<hr class="col-11 col-sm-12 hrBottom"/>
			        </div>
		        </div>	
	            <div class="pcard"></div>
	            <div class="container containerTitleStyle">
	                <h2 class="col-12 mb-4 title">&Eacute;vènements:</h2>
	            </div> 
	            <div th:if="!${eventError.errorON}" class="container containerStyle customCard" th:each="event : ${event}">
	                <div class="col-sm-12 p-0">
	                    <div class="card">
	                        <div class="card-header">
	                            <h2 th:text="${event.event.name}"></h2>
	                        </div>
	                        <form class="card-body" action="subscribeEditor" method="POST">
	                            <h4 class="card-title" th:text="|${event.event.name} ouvre ses portes du ${#dates.format(event.event.eventBeginningDate, 'dd/MM/yyyy')} au ${#dates.format(event.event.eventEndingDate, 'dd/MM/yyyy')}|"></h4>
								<p class="card-text" th:text="${event.event.description}"></p>
								<p class="regMessage" th:unless="${event.event.registrationOpen}" th:text="${event.event.registrationMessage}"></p>
								<input name="id" type="hidden" th:value="${event.event.id}">
								<div class="d-flex">
									<button type="submit" th:if="${event.subscribeBtnOn} and ${event.event.registrationOpen}" class="col-6 col-md-4 col-lg-2 btn btn-primary ml-auto">S'inscrire</button>
								</div>
								<p class="text-center eventSubscribeMsg" th:if="!${event.subscribeBtnOn} and ${event.hasSubscribe}">Vous avez fait une demande d'inscription à cet évènement</p>
							</form>	
						</div>
					</div>
				</div>
 				<div class="container">
		 	        <div class="row">
				  		<hr class="col-11 col-sm-12 hrBottom"/>
			        </div>
		        </div>  
			</section>			
			<section class="fluid-container" id="inscription">
				<div class="pcard"></div>
				<div class="container containerTitleStyle">
					<h2 class="col-12 mb-4 title">Mes inscriptions:</h2>
					<h3 class="col-12 title" th:if="${#lists.isEmpty(registrations)}">Aucune inscription effectuée.</h3>
				</div>				
				<div class="container containerStyle customCard" th:each="registration : ${registrations}">
					<div class="col-sm-12 p-0">
						<div class="card">
							<div class="card-header">
								<h2 th:text="|Récapitulatif inscription evenement :	${registration.event.name}|"></h2>	
							</div>
							<div class="card-body p-2 p-md-3">
								<h4 class="card-title mt-2" th:text="|Demande d'inscription effectuée le :     ${#dates.format(registration.subscriptionDate, 'dd/MM/yyyy')}|"></h4>
								<p class="row text-center justify-content-center mb-1">
									<span class="col-6 col-lg-3 badge badge-pill badge-warning d-inline-flex align-items-center justify-content-center" th:if="${registration.state} == 'pending'">EN ATTENTE</span>
									<span class="badge badge-pill badge-success d-inline-flex align-items-center justify-content-center" th:if="${registration.state} == 'validated'">VALID&Eacute;E</span> 
									<span class="badge badge-pill badge-danger d-inline-flex align-items-center justify-content-center" th:if="${registration.state} == 'rejected'">REFUS&Eacute;E</span>
								</p>
								<fieldset class="border p-1 p-md-3 text-left">
									<legend class="w-auto">Récapitulatif de vos demandes</legend>
									<div class="row align-items-center">
										<div class="col-12 col-sm-10">
											<p>Nombre de tables demandées : <span class="badge badge-pill badge-secondary d-inline-flex align-items-center text-center justify-content-center badgeDetails" th:text="${registration.tablesQuantity}"></span></p>
											<p>Vous avez besoin d'un raccord au réseau éléctrique : <span class="badge badge-pill badge-secondary d-inline-flex align-items-center justify-content-center badgeDetails" th:if="${registration.electricalSupplyNeed}">OUI</span>
																									<span class="badge badge-pill badge-secondary d-inline-flex align-items-center justify-content-center badgeDetails" th:unless="${registration.electricalSupplyNeed}">NON</span></p>
											<p>Vous Souhaitez vendre des produits lors de l'évènement : <span class="badge badge-pill badge-secondary d-inline-flex align-items-center justify-content-center badgeDetails" th:if="${registration.saleOption}">OUI</span>
																										<span class="badge badge-pill badge-secondary d-inline-flex align-items-center justify-content-center badgeDetails" th:unless="${registration.saleOption}">NON</span></p>
											<p>Des représentants de votre entreprise seront présents lors de l'évènement : <span class="badge badge-pill badge-secondary d-inline-flex align-items-center justify-content-center badgeDetails" th:if="${registration.agentProvided}">OUI</span>
																														   <span class="badge badge-pill badge-secondary d-inline-flex align-items-center justify-content-center badgeDetails" th:unless="${registration.agentProvided}">NON</span></p>
											<p>Vous avez besoin de bénévoles pour l'animation de vos jeux : <span class="badge badge-pill badge-secondary d-inline-flex align-items-center justify-content-center badgeDetails" th:if="${registration.volunteersNeed}">OUI</span>
																											<span class="badge badge-pill badge-secondary d-inline-flex align-items-center justify-content-center badgeDetails" th:unless="${registration.volunteersNeed}">NON</span></p>
										</div>
									</div>  
								</fieldset>
								<fieldset class="border p-1 p-md-3 text-left">
									<legend class="w-auto">Vos jeux inscrits</legend>
									<div class="fluid-container">
										<div class="row justify-content-center">										
											 <div class="card col-5 col-sm-4 col-lg-2 gameCardTop p-0 mx-1" th:each="game : ${registration.games}" >											
	 										 <img th:if="${game.picture !='' AND game.picture !=null}" th:src="|..${game.picture}|"  class="card-img-top" alt="image du jeu">
	 										 <img th:unless="${game.picture !='' AND game.picture !=null}" th:src="@{${connectedUser.getProfilePicture()}}" class="card-img-top" alt="image du jeu">
												
												<div class="card-body gameCardBody p-0 m-0">
													<p class="card-text" th:text="${game.name}"></p> 
												</div>
											</div>
										</div>										
										<div class="row regGamesMsg">
											<p class="col-12" th:text="|Vous avez demandé ${registration.tablesQuantity} tables, vous devez inscrire ${registration.tablesQuantity} jeux.|"></p>											
										</div>	 
									</div> 
								</fieldset>
								<fieldset class="border p-1 p-md-3 text-left">
									<legend class="w-auto">Vos collaborateurs</legend>
									<div class="row align-items-center">
										<div class="col-sm-12">
											<p th:if="${registration.agentProvided} and ${#lists.isEmpty(registration.agents)}">Vous avez indiqué que vos collaborateurs participeront à l'évènement. Merci de compléter leur inscription.</p>		
											<p th:unless="${registration.agentProvided}">Aucun collaborateur de votre entreprise ne sera présent.</p>
											<div th:if="${not #lists.isEmpty(registration.agents)}" class="table-responsive">
												<table class="table table-striped table-bordered card-custom">
													<thead>
														<tr>
															<th class="col-3" scope="col">Nom</th>
															<th class="col-3" scope="col">Prénom</th>
															<th class="col-2" scope="col">Téléphone</th>
															<th class="col-3" scope="col">Mail</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="agentRegistration : ${registration.agents}">
															<td th:text="${agentRegistration.firstName}"></td>
															<td th:text="${agentRegistration.lastName}"></td>
															<td th:text="${agentRegistration.phone}"> </td>
															<td th:text="${agentRegistration.mail}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>  
								</fieldset>
								<fieldset class="border p-1 p-md-3 text-left">
									<legend class="w-auto">Coût de votre participation</legend>
									<div class="row align-items-center">
										<div class="col-sm-12">
										<p th:text="|Le montant de votre inscription est de : ${#numbers.formatInteger(registration.registrationCost,2,'COMMA')} euros|"></p>
										</div>
									</div>  
								</fieldset>
								<fieldset class="border p-1 p-md-3 text-left">
									<legend class="w-auto">Vos commentaires</legend>
									<div class="row align-items-center">
										<div class="col-sm-12">
										<p th:text="${registration.comments}"></p>
										</div>
									</div>  
								</fieldset>
								<form class="d-flex justify-content-center justify-content-md-end mt-3"  method="post" action="/subscribeEditorModification">
									<button type="submit" class=" btn btn-primary subscribeModifBtn" name="submitBtn">Modifier ma demande</button>
									<input type="hidden" id="regitration" name="registrationId" th:value="${registration.id}">
								</form>
								<form class="d-flex justify-content-center justify-content-md-end mt-3"  method="post" action="/deleteEditorRegistration">
									<button type="submit" class=" btn btn-primary subscribeModifBtn" onclick="return confirm('Etes-vous sûr de vouloir annuler votre inscription ?');" >Annuler ma demande</button>
									<input type="hidden" id="registration" name="registrationId" th:value="${registration.id}">
								</form>						
							</div>
						</div>
					</div>
				</div>
			</section>
 			<div class="container">
	 	        <div class="row">
			  		<hr class="col-11 col-sm-12 hrBottom"/>
		        </div>
	        </div>  
			<section id="information" class="fluid-container">
				<div class="pcard" ></div>
					<div class="container containerTitleStyle">
						<h2 class="col-sm-12 p-0 mb-4 title">Mes informations:</h2>
					</div>
				<div class="container containerStyle customCard">
					<div class="col-sm-12 p-0">  
						<div class="card">
							<div class="card-body">
								<p class="card-text">société truc</p>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perspiciatis modi officiis, inventore nihil quisquam vero quos? Voluptas ipsam, obcaecati aut rem, accusamus est expedita, libero nihil iusto asperiores veniam!</p>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perspiciatis modi officiis, inventore nihil quisquam vero quos? Voluptas ipsam, obcaecati aut rem, accusamus est expedita, libero nihil iusto asperiores veniam!</p>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perspiciatis modi officiis, inventore nihil quisquam vero quos? Voluptas ipsam, obcaecati aut rem, accusamus est expedita, libero nihil iusto asperiores veniam!</p>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perspiciatis modi officiis, inventore nihil quisquam vero quos? Voluptas ipsam, obcaecati aut rem, accusamus est expedita, libero nihil iusto asperiores veniam!</p>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perspiciatis modi officiis, inventore nihil quisquam vero quos? Voluptas ipsam, obcaecati aut rem, accusamus est expedita, libero nihil iusto asperiores veniam!</p>	
							</div>
						</div>
					</div>
				</div>
			</section>		
			<div th:replace="toasts :: toats">
			</div>
		</main>	
		<footer th:replace="footer :: bottom"></footer>		
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	  	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script	src="JS/main.js"></script>
	</body>
</html>
