<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Acme|Roboto&display=swap" rel="stylesheet">
	    <link rel="stylesheet" href="../CSS/style.css">
	    <link rel="stylesheet" href="../CSS/footer.css">
	    <link rel="stylesheet" href="../CSS/navBar.css">
	    <link rel="stylesheet" href="../CSS/toast.css">
	    <title>accueil exposant</title>  
	    <script>
	    	var hasSubscribe = "[[${hasSubscribe}]]";
		</script>
	</head>
	<body>
	    <header th:replace="navBar.html :: top"></header>
	    <main>	
	        <h1 class="helloUser" th:text="|Bonjour ${connectedUser.firstname} ${connectedUser.lastname}|"></h1>
	        <hr class="col-11" />
	        <section class="fluid-container" id="evenement">
	            <div class="pcard"></div>
	            <div class="container containerTitleStyle">
	                <h2 class="col-12 title">Evenements:</h2>
	            </div>
	            <div th:if="!${eventError.errorON}" class="container containerStyle" th:each="eventInfos : ${event}">
	                <div class="col-sm-12 p-0">
	                    <div class="card">
	                        <div class="card-header">
	                            <h2 th:text="${eventInfos.name}">Evènement</h2>
	                        </div>
	                        <form class="card-body" action="subscribeEditor" method="POST">
	                            <h4 class="card-title" th:text="|${eventInfos.name} ouvre ses portes du ${#dates.format(eventInfos.eventBeginningDate, 'dd/MM/yyyy')} au ${#dates.format(eventInfos.eventEndingDate, 'dd/MM/yyyy')}|"></h4>
								<p class="card-text" th:text="${eventInfos.description}"></p>
								<p class="regMessage" th:unless="${eventInfos.registrationOpen}" th:text="${eventInfos.registrationMessage}"></p>
								<input name="id" type="hidden" th:value="${eventInfos.id}">
								<button type="submit" th:if="${eventInfos.registrationOpen}" class="btn btn-primary">S'inscrire</button>
							</form>
						</div>
					</div>
				</div>
			</section>
			<hr class="col-11 hrBottom"/>
			<section class="fluid-container" id="inscription">
				<div class="pcard" ></div>
				<div class="container containerTitleStyle">
					<h2 class="col-12 title">Mes inscriptions:</h2>
					<h3 class="col-12 title" th:unless="${registrations} != null">Aucune inscription</h3>
				</div>				
				<div class="container containerStyle" th:if="${registrations} != null" th:each="registration : ${registrations}">
					<div class="col-sm-12 p-0">
						<div class="card">
							<div class="card-header">
								<h2 th:text="|Récapitulatif inscription evenement :	${registration.event?.name}|"></h2>	
							</div>
							<div class="card-body">
								<h4 class="card-title" th:text="|Demande d'inscription effectuée le :     ${#dates.format(registration.subscriptionDate, 'dd/MM/yyyy')}|"></h4>
								<p class="text-center">
									<span class="badge badge-pill badge-warning" th:if="${registration.state} == 'pending'">En attente</span>
									<span class="badge badge-pill badge-success" th:if="${registration.state} == 'validated'">Validée</span> 
									<span class="badge badge-pill badge-danger" th:if="${registration.state} == 'rejected'">Refusée</span>
								</p>
								<fieldset class="border p-3 text-left">
									<legend class="w-auto">Récapitulatif de vos demandes</legend>
									<div class="row align-items-center">
										<div class="col-sm-8">
											<p>Nombre de tables demandées : <span class="badge badge-pill badge-secondary" th:text="${registration.tablesQuantity}"></span></p>
											<p>Vous avez besoin d'un raccord au réseau éléctrique : <span class="badge badge-pill badge-secondary" th:if="${registration.electricalSupplyNeed}">oui</span>
																									<span class="badge badge-pill badge-secondary" th:unless="${registration.electricalSupplyNeed}">non</span></p>
											<p>Vous Souhaitez vendre des produits lors de l'évènement : <span class="badge badge-pill badge-secondary" th:if="${registration.saleOption}">oui</span>
																										<span class="badge badge-pill badge-secondary" th:unless="${registration.saleOption}">non</span></p>
											<p>Des représentants de votre entreprise seront présents lors de l'évènement : <span class="badge badge-pill badge-secondary" th:if="${registration.agentProvided}">oui</span>
																														   <span class="badge badge-pill badge-secondary" th:unless="${registration.agentProvided}">non</span></p>
											<p>Vous avez besoin de bénévoles pour l'animation de vos jeux : <span class="badge badge-pill badge-secondary" th:if="${registration.volunteersNeed}">oui</span>
																											<span class="badge badge-pill badge-secondary" th:unless="${registration.volunteersNeed}">non</span></p>
										</div>
									</div>  
								</fieldset>
								<fieldset class="border p-3 text-left">
									<legend class="w-auto">Vos jeux inscrits</legend>
									<div class="row align-items-center">										
										 <div class="card col-3"> <!-- th:each="game:${registration.games}" -->
										 	<a href="">
											<img src="../pictures/default_game_picture.jpg"  class="card-img-top" alt="image du jeu">
											</a>
											<div class="card-body">
												<p class="card-text">Nom :</p> <!-- th:text="${game.name}" -->
											</div>
										</div>										
										<div class="col-sm-12">
											<p th:text="|Vous avez demandé ${registration.tablesQuantity} tables, vous devez inscrire ${registration.tablesQuantity} jeux.|"></p>											
										</div>
									</div>  
								</fieldset>
								<fieldset class="border p-3 text-left">
									<legend class="w-auto">Vos collaborateurs</legend>
									<div class="row align-items-center">
										<div class="col-sm-12">
											<p>Vous avez indiqué que vos collaborateurs participeront à l'évènement. Merci de compléter leur inscription.</p>											
										</div>
									</div>  
								</fieldset>
								<fieldset class="border p-3 text-left">
									<legend class="w-auto">Coût de votre participation</legend>
									<div class="row align-items-center">
										<div class="col-sm-12">
										<p>Le montant de votre inscription est de :  euros</p>
										</div>
									</div>  
								</fieldset>
								<form class="d-flex justify-content-end"  method="post" action="/subscribeEditorModification">
									<button type="submit" class="col-10 col-lg-2 btn btn-primary" name="submitBtn">Modifier ma demande</button>
									<input type="hidden" id="regitration" th:name="registrationId" th:value="${registration.id}">
								</form>							
							</div>
						</div>
					</div>
				</div>
			</section>
			<hr class="col-11 hrBottom"/>
			<section class="fluid-container" id="information">
				<div class="pcard" ></div>
					<div class="container containerTitleStyle">
						<h2 class="col-sm-12 p-0 title">Mes informations:</h2>
					</div>
				<div class="container containerStyle">
					<div class="col-sm-12 p-0">  
						<div class="card">
							<div class="card-body">
								<p class="card-text">société truc</p>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perspiciatis modi officiis, inventore nihil quisquam vero quos? Voluptas ipsam, obcaecati aut rem, accusamus est expedita, libero nihil iusto asperiores veniam!</p>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perspiciatis modi officiis, inventore nihil quisquam vero quos? Voluptas ipsam, obcaecati aut rem, accusamus est expedita, libero nihil iusto asperiores veniam!</p>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perspiciatis modi officiis, inventore nihil quisquam vero quos? Voluptas ipsam, obcaecati aut rem, accusamus est expedita, libero nihil iusto asperiores veniam!</p>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perspiciatis modi officiis, inventore nihil quisquam vero quos? Voluptas ipsam, obcaecati aut rem, accusamus est expedita, libero nihil iusto asperiores veniam!</p>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste perspiciatis modi officiis, inventore nihil quisquam vero quos? Voluptas ipsam, obcaecati aut rem, accusamus est expedita, libero nihil iusto asperiores veniam!</p>	
							</div>
						</div>
					</div>
				</div>
			</section>		
			<div th:replace="toasts :: toats">
			</div>
		</main>	
		<footer th:replace="footer :: bottom"></footer>		
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	  	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script	src="JS/main.js"></script>
	</body>
</html>
