<div class="modal fade" id="formCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="modaleCreation">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Création du jeux</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/addRegistrationGame" enctype="multipart/form-data">
        <div class="modal-body">
          <div th:if="${society.game.size() !=0}" class="form-group">
            <label for="name">Choisissez un jeu de votre bibliotheque:</label>
			<select th:field="*{society}" class="custom-select">
			    <option value="Selectionner un jeu" selected disabled hidden>Selectionner un jeu</option>
			    <option th:each="game : ${society.game}" th:value="${game.name}" th:text="${game.name}"/>
			</select>
			<p class="align-self-center text-center mt-2">ou</p>
         </div>
          <div class="form-group">
            <label for="name">Nom du jeux</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameGameHelp" placeholder="nom du jeux">
            <small id="nameGameHelp" class="form-text text-muted">Indiquez le nom du jeux</small>
          </div>
          <div class="form-group">
            	<label for="picture">Image:</label>
				<input type="file" id="pictureCreate" name="file_picture" aria-describedby="pictureHelp" accept="image/png, image/jpeg">
				<img id="picturePreviewCreate" src="#" alt="your image" class="d-none"/>            
				<small id="pictureHelp" class="form-text text-muted">Choisissez une image</small>
				<input type="hidden" name="picture" value="">
          </div>        
          <div class="form-group">
            <label for="author">Auteur</label>
            <input type="text" class="form-control" id="author" name="author" aria-describedby="authorHelp" placeholder="nom de l'auteur">
            <small id="authorHelp" class="form-text text-muted">Indiquez l'auteur du jeux</small>
          </div>
          <div class="form-group">
            <label for="publicationDate">Date de publication</label>
            <input type="date" class="form-control" id="publicationDate" name="publicationDate" aria-describedby="dateHelp" placeholder="Date de publication">
          	<small id="dateHelp" class="form-text text-muted">Indiquez la date de publication du jeux</small>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="textArea" class="form-control" id="description" aria-describedby="descriptionHelp" name="description" placeholder="description">
          	<small id="descriptionHelp" class="form-text text-muted">Indiquez la description du jeux</small>
          </div>
          <div class="form-group">
            <label for="webLink">URL</label>
            <input type="URL" class="form-control" id="url" name="webLink" aria-describedby="linkHelp">
            <small id="linkHelp" class="form-text text-muted">Lien du jeux (optionnel)</small>
          </div>
        </div>
        <input type="hidden" name="registrationId" th:value="${registration.id}">
        <input type="hidden" name="societyId" th:value="${society.id}">
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>