<header th:fragment="top">
  <!-- Fixed navbar -->
  <nav class="mb-1 navbar fixed-top navbar-expand-lg navbar-dark default-color">
    <a class="nav-link p-0" href="index.html">
      <img src="../pictures/logo_transparent2.png" class="rounded-circle z-depth-0" alt="Logo Orléans Joue" height="70">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav col-6 ">

        <li class="nav-item mx-auto">
          <a class="nav-link nav1" href="#evenement">Evenement</a>
        </li>
        <li class="nav-item mx-auto">
          <a class="nav-link nav1" href="#inscription">Mon Inscription</a>
        </li>
        <li class="nav-item mx-auto">
          <a class="nav-link nav1" href="#information">Mes Informations</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar">
          <div class="nav-link p-0">
            <img th:src="@{${connectedUser.getProfilePicture()}}" class="rounded-circle z-depth-0"
              alt="Image de profil" height="35">
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="#">Mon profil</a>
            <a class="dropdown-item" href="#">Deconnection</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>