<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme|Roboto&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/footer.css">
    <link rel="stylesheet" href="../CSS/navBar.css">
    <link rel="stylesheet" href="../CSS/subscribeEditor.css">
    <title>formulaire d'inscription editeur</title>
</head>

<body>
    <header th:replace="navBar.html :: top"></header>

    <main class="subscribeEditor">
        <!-- MultiStep Form -->
        <div class="fluid-container">
            <h1 class="col-12 pl-7">Formulaire d'inscription</h1>
            <div class="row">
                <div class="col-12 ">
                    <div id="msform">
                        <!-- progressbar -->
                        <ul class="row progressbar" id="progressbar">
                            <li class="active col-4">Informations générales</li>
                            <li class="col-4">Moyens Humains</li>
                            <li class="col-4">Informations complémentaires</li>
                        </ul>
                        <!-- fieldsets -->
                        <form method="post" action="/inscription_editeur">
                            <fieldset>
                                <h2 class="fs-title">Informations générales</h2>
                                <h3 class="fs-subtitle">Inscription de l'entreprise:</h3>
                                <div class="row align-items-center text-left pt-5">
                                    <div class="col-sm-8">
                                        <label for="nbtable">Nombre de tables souhaitées</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="number" id="nbtable" name="tableNb" value="1" min="0" max="20">
                                    </div>
                                </div>
                                <div class="row align-items-center text-left pt-4">
                                    <div class="col-md-8">
                                        <label for="elec">Besoin d'éléctricité</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" id="elec" name="electricity" data-toggle="toggle" data-on="OUI" data-off="NON">
                                    </div>
                                </div>
                                <div class="row align-items-center text-left pt-4">
                                    <div class="col-md-8">
                                        <label for="send">Option vente sur le stand</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" id="send" name="saleOption" data-toggle="toggle" data-on="OUI" data-off="NON">
                                    </div>
                                </div>
                                <input type="button" name="next" class="next action-button" value="Suivant" />
                            </fieldset>
                        </form>
                        <form method="post" action="/inscription_editeur">
                            <fieldset>
                                <h2 class="fs-title">Moyens Humains</h2>
                                <h3 class="fs-subtitle">Your presence on the social network</h3>
                                <div></div>
                                <div class="row align-items-center text-left pt-4">
                                    <div class="col-md-8">
                                        <p>Ajouter un référent</p>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="checkbox" id="volunteer" name="volunteerNeed" data-toggle="toggle" data-on="OUI" data-off="NON">
                                    </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Précédent" />
                                <input type="button" name="next" class="next action-button" value="Suivant" />
                            </fieldset>
                        </form>
                                
                        <form method="post" action="/inscription_editeur">
                            <fieldset>
                                <h2 class="fs-title">Informations complémentaires</h2>
                                <h3 class="fs-subtitle">Fill in your credentials</h3>
                                <div>
                                    <label for="comments">Ajouter un commentaire</label>
                                    <textarea id="comments" class="comments" name="comments"></textarea>
                                </div>
                                <div>
                                    <p>Coût de l'inscrption : 65 euros</p>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous" value="Précédent" />
                                <button type="submit" name="registration" class="next action-button">Valider votre demande d'inscription</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.MultiStep Form -->
    </main>

    <footer th:replace="footer :: bottom"></footer>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
 	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../JS/subscribeEditor.js"></script>
    <script	src="JS/main.js"></script>

</body>

</html>
